{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}


<div >
    {%  include("include/_navbar.html.twig") %}
    <h1>Hello {{ controller_name }}, {{ result }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Applications/XAMPP/xamppfiles/htdocs/symfony_first_project/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Applications/XAMPP/xamppfiles/htdocs/symfony_first_project/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
